<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: teal;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .content {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 20px;
        }
    </style>
</head>
<body>

<div class="header">
    <h1>Library Management System</h1>
</div>

<div class="content">
    <div class="left-column">
        <h2>Welcome</h2>
        <p>This is the Library Management System. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div>
        <div>
            <a th:href="@{/login}">User Login</a>
            <a th:href="@{/login}">Admin login</a>
            <a th:href="@{/register}">Register</a>
        </div>
    </div>
</div>

</body>
</html>
